* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  margin-top: 30px;
  height: 45px;
  width: auto;
}

.nav_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  height: 40px;
}

.nav_search {
  /* height: auto; */
}
