* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Nunito-Bold;
  src: url("assets/fonts/Nunito-Bold.ttf");
}

@font-face {
  font-family: Nunito-Medium;
  src: url("assets/fonts/Nunito-Medium.ttf");
}

@font-face {
  font-family: Nunito-Regular;
  src: url("assets/fonts/Nunito-Regular.ttf");
}

@font-face {
  font-family: Nunito-SemiBold;
  src: url("assets/fonts/Nunito-SemiBold.ttf");
}

nav {
  margin: 30px auto 0 auto;
  height: 45px;
  max-width: 950;
}

.nav_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.nav_icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon_img {
  height: 44px;
}

.just_weather {
  font-family: Nunito-SemiBold;
}

input {
  height: 40px;
  width: 600px;
  padding-left: 10px;
  border-radius: 7px;
  border-width: 0;
  background-color: rgb(244, 244, 255);
}

input:focus {
  background-color: rgb(235, 246, 255);
  border-color: rgb(66, 113, 202);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(244, 244, 255);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(185, 185, 252);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 0.75;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.toggle_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.faren {
  font-family: Nunito-Bold;
  font-size: 15px;
}

.celc {
  font-family: Nunito-Bold;
  font-size: 15px;
}

.container {
  margin: 10px auto 0 auto;
  max-width: 900;
  height: 180px;
}

.city_weather {
  height: 170px;
  width: 420px;
  display: flex;
  justify-content: space-between;
}

.city_forecast {
  height: 180px;
  width: 900px;
  padding: 10px 0 0 15px;
  margin-top: 10px;
  background-color: rgb(244, 244, 255);
}

.city_degree {
  height: 200px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.city_header {
  font-family: Nunito-Medium;
  font-size: 50px;
}

.city_high_low {
  font-family: Nunito-SemiBold;
  font-size: 50px;
}

.city_icon_image {
  height: 100%;
}

.forecast {
  font-family: Nunito-SemiBold;
}

.hourly_forecast {
  display: grid;
  grid-template-columns: repeat(auto-fill, 90px);
  gap: 0.50rem;
  margin-top: 1rem;
  height: 105px;
}

.hourly_card {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(172, 172, 255, 0.993);
}

.city_degree {
  height: 200px;
  width: 250px;
  display: flex;
  flex-direction: column;
}

.city_icon_image {
  height: 100%;
}

.container_details {
  margin: 10px auto 0 auto;
  max-width: 900;
  height: 300px;
}

.weather_details {
  height: 300px;
  width: 900px;
  margin-top: 10px;
  background-color: rgb(244, 244, 255);
}

.details_row {
  height: 200px;
}

.details_text {
  padding: 10px 0 0 10px;
  font-family: Nunito-SemiBold;
}

.details_card {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, minmax(150px, 1fr));
  gap: 0.25rem;
  margin-top: 1rem;
}

.det_card {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  border-radius: 15px;
  background-color: rgb(214, 214, 255);
}
