* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Nunito-Bold;
  src: url("assets/fonts/Nunito-Bold.ttf");
}

@font-face {
  font-family: RNunito-Medium;
  src: url("assets/fonts/Nunito-Medium.ttf");
}

@font-face {
  font-family: Nunito-Regular;
  src: url("assets/fonts/Nunito-Regular.ttf");
}

@font-face {
  font-family: Nunito-SemiBold;
  src: url("assets/fonts/Nunito-SemiBold.ttf");
}

nav {
  margin: 30px auto 0 auto;
  height: 45px;
  max-width: 1000;
}

.nav_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.nav_icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.just_weather {
  font-family: Nunito-SemiBold;
}

input {
  height: 40px;
  width: 600px;
  padding-left: 10px;
  border-radius: 7px;
  border-width: 0;
  background-color: rgb(244, 244, 255);
}

input:focus {
  background-color: rgb(235, 246, 255);
  border-color: rgb(66, 113, 202);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(244, 244, 255);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(185, 185, 252);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 0.75;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.toggle_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.faren {
  font-family: Nunito-Bold;
}

.celc {
  font-family: Nunito-Bold;
}
